RewriteEngine on
Options -Indexes
RewriteCond %{HTTP_REFERER} !^http://bookmarks.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bookmarks.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://justcss.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://justcss.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kreska.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://kreska.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bookmarks.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bookmarks.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.justcss.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.justcss.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kreska.justjs.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kreska.justjs.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kreska.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.kreska.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://justcss.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://justcss.org$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

