<h1>{L_title}
<!-- OPTION value_name -->
: {value_name}
<!-- END OPTION value_name -->
</h1>
<div id="action">
<a href="{link_list}" title="{L_back_list}">{L_back_list}</a>
<!-- OPTION link_delete -->
<a href="javascript:confirmation('{link_delete}');" title="{L_delete}"><img src="../tpl_image/button_drop.png" border="0" alt="{L_delete}" /></a>
<!-- END OPTION link_delete -->
</div>

<!-- OPTION L_message_forum -->
<p class="message">{L_message_forum}</p>
<!-- END OPTION L_message_forum -->
				  
<!-- OPTION erreur -->
<div id="erreur">
<p class="erreur-title">{L_erreur}</p>
<ol class="erreur">  
<!-- LOOP erreur -->
<li>{message}</li>
<!-- END LOOP erreur -->
</ol>
</div>
<!-- END OPTION erreur -->

<!-- OPTION show_forum -->
<p class="field_required">* {L_field_required}</p>
<form name="form_forum" action="{form_action}" method="post">
<table border="0">
    <tr> 
      <th class="field_required">{L_name}*</th>
      <td><input name="name" type="text" value="{value_name}" size="50" /></td>
    </tr>
    <tr> 
      <th class="field_required">{L_idurl}*</th>
      <td><a href="#" onclick="document.form_forum.idurl.value=str2url(document.form_forum.name.value,'{meta_charset}'); return false;">{L_idurl_auto}</a> 
        <br /> <input name="idurl" type="text" value="{value_idurl}" size="50" /> 
      </td>
    </tr>
    <tr> 
      <th class="field_required">{L_order}*</th>
      <td><input type="hidden" name="former_order" value="{value_order}" />
	  	<select name="order">
		  <option value="0">{L_first}</option>
          <!-- LOOP order -->
          <option value="{order}" {selected}>{name}</option>
          <!-- END LOOP order -->
		  <option value="{nb_forum}">{L_last}</option>		  
        </select>
      </td>
    </tr>	
    <tr> 
      <th valign="top">{L_description}</th>
      <td><textarea name="description" cols="50" rows="3">{value_description}</textarea></td>
    </tr>	
    <tr> 
      <th valign="top">{L_status}</th>
      <td>
	  <!-- LOOP status -->
	  <input type="radio" name="status" value="{id}" {checked} /> {name} <br />
	  <span class="details">{info}</span><br />
	  <!-- END LOOP status -->
	  </td>
    </tr>
</table>
<div class="button">
<input type="hidden" name="id" value="{value_id}" />
<input type="submit" name="submit" value="{L_valider}" />
</div> 
</form>
<!-- END OPTION show_forum -->