<p><font size="1">{L_member_search_member}</font></p>
<form action="{form_action}" method="post">
  <table cellpadding="2" cellspacing="0">
    <tr> 
      <td><strong>{L_member_lastname}</strong></td>
      <td><input type="text" name="name" /></td>
    </tr>
    <tr> 
      <td><strong>{L_member_firstname}</strong></td>
      <td><input type="text" name="firstname" /></td>
    </tr>
    <tr> 
      <td><strong>{L_member_sex}</strong></td>
      <td><input type="checkbox" name="sex_f" value="1" />
        {L_member_sex_f} 
        <input type="checkbox" name="sex_m" value="1" />
        {L_member_sex_m}</td>
    </tr>
    <tr>
      <td><strong>{L_member_year}</strong></td>
      <td><input name="year" type="text" id="year" value="{value_year}" size="4" maxlength="4" /></td>
    </tr>
    <tr> 
      <td colspan="2" align="center">
        <input type="submit" name="submit" value="{value_valider}" /> <input type="reset" value="{value_annuler}" /></td>
    </tr>
  </table>
</form>